%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2014-2017 Basho Technologies, Inc.
%%
%% This Source Code Form is subject to the terms of the Mozilla Public
%% License, v. 2.0. If a copy of the MPL was not distributed with this
%% file, You can obtain one at http://mozilla.org/MPL/2.0/.
%%
%% -------------------------------------------------------------------

{erl_opts, [
    warn_bif_clash,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    nowarn_unused_import,
    {parse_transform, lager_transform}
]}.

{deps, [
    {folsom,
        {git, "https://github.com/basho/folsom.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {lager,
        {git, "https://github.com/basho/lager.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {parse_trans,
        {git, "https://github.com/basho/parse_trans.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {setup,
        {git, "https://github.com/basho/setup.git",
        {branch, "feature/riak-2903/rebar3"} }}
]}.

{profiles, [
    {check, [
        {dialyzer, [
            {warnings, [
                no_match,   % only needed <OPT-18
                race_conditions,
                unknown
            ]}
        ]},
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, 'BASHO_CHECK'}
        ]},
        {overrides, [
            {add, folsom, [{erl_opts, [debug_info]}]},
            {add, lager, [{erl_opts, [debug_info]}]},
            {add, parse_trans, [{erl_opts, [debug_info]}]},
            {add, setup, [{erl_opts, [debug_info]}]}
        ]},
        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]}
    ]},
    {docs, [
        {deps, [
            {edown,
                {git, "https://github.com/basho/edown.git",
                {branch, "feature/riak-2903/rebar3"} }}
        ]},
        {edoc_opts, [
            {app_default,   "http://www.erlang.org/doc/man"},
            {doclet,        edown_doclet},
            {preprocess,    true},
            {macros, [
                {'EDOC', true},
                {'BASHO_DOCS', true}
            ]},
            {top_level_readme,
                {"./README.md", "http://github.com/basho/exometer_core"}}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            warnings_as_errors,
            {d, 'BASHO_PROD'}
        ]}
    ]},
    {test, [
        {cover_enabled, true},
        {erl_opts, [
            debug_info,
            nowarn_deprecated_function,
            nowarn_export_all,
            nowarn_unused_function,
            warnings_as_errors,
            {d, 'BASHO_TEST'}
        ]}
    ]},
    {validate, [
        {erl_opts, [
            strong_validation,
            no_auto_import,
            warn_bif_clash,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_missing_spec,
            warn_missing_spec_all,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warn_unused_record,
            warn_unused_vars,
            {d, 'BASHO_VALIDATE'}
        ]}
    ]}
]}.

{brt_upstream, [
    {upstream, {git, "https://github.com/Feuerlabs/exometer_core.git"}},
    {mirror, upstream, master}
]}.

{plugins, [
    {basho_rebar_tools,
        {git, "https://github.com/basho/basho_rebar_tools.git",
        {branch, "master"} }}
]}.

